body {
  max-width: 100%;
}

p {
  font-size: 25px;
  font-family: 'Fredoka One', sans-serif;
}

button {
  font-size: 40px;
  padding: 10px 30px;
  background-color: #00BCD4;
  color: white;
  border-radius: 8px;
}

#draggable {
  width: 150px; height: 150px; padding: 0.5em;
}
/*rotate*/
#rotate-area {
  overflow: hidden;
}

#arrow {
  width: 100%;
  height: 100%;
}

#angle-info {
  color: #666;
  font-size: 2em;
  position: absolute;
}
/*resize*/
.resize-drag {
  background-image: url('img/rectangle.png');
  background-size: cover;
  background-color: #29e;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 8px;
  padding: 20px;
  margin: 30px 20px;

  width: 120px;

  /* This makes things *much* easier */
  box-sizing: border-box;
}

.resize-container {
  display: inline-block;
  width: 100%;
  height: 240px;
}
